html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
}

body {
    background-image: url(https://th.bing.com/th/id/R.b9c245c16f3bc59e7ab0584961f4f3e6?rik=rgm9ArGKMjvX6g&pid=ImgRaw&r=0);
    float: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0px;
    color: white;
}

.home {

    width: 200px;
    height: 150px;

}

.quadrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

button {
    background-color: red;
    color: white;
    justify-content: center;
    height: 100px;
    width: 225px;
    font-size: 35px;
}

.nome {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
    float: center;
    font-size: 35px;
}

.imagem {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    float: center;
}

.imagem2 {
    height: 100%;
    width: 100%;
    margin-top: -450px;
    margin-bottom: -300px;
    justify-content: center;
    display: flex;
    align-items: center;
    float: center;
}

#slideshow {
    position: relative;
    width: 650px;
    height: 400px;
    margin: auto;
}

#slideshow p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    margin: 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
    transition: opacity 1s ease-in-out;
}

#slideshow p.active {
    opacity: 1;
}

#slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#slideshow img.active {
    opacity: 1;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    padding: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}